*{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(2, 207, 207,1);
}
nav ul{
    position: fixed;
    line-height: 80px;
    right: 100px;
}
nav li{
    display: inline-block;
    margin: 0 30px;
}
nav .item{
    color: white;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 15pt;
}
nav .item:hover{
    border: 3px solid white;
}
nav #icon{
    line-height: 80px;
    position: fixed;
    right: 50px;
    font-size: 20pt;
    color: white;
    display: none;
}
@media (max-width: 909px){
    nav ul{
        position: fixed;
        left: 0;
        top: -100%;
        background-color: rgba(2, 207, 207,0.5);
        text-align: center;
        width: 100%;
        height: 100vh;
    }
    nav li{
        display: block;
        margin: 0;
    }
    nav .item{
        color: white;
        border-radius: 5px;
        padding: 5px;
        text-transform: uppercase;
        font-size: 20pt;
    }
    nav .item:hover{
        border: none;
    }
    nav li:hover{
        background-color: rgba(2, 207, 207,0.8);
    }
    nav #icon{
        display: block;
        cursor: pointer;
    }
    nav .show{
        top: 80px;
    }
}
